.quebraCabeca-home {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  padding: 40px 20px;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: -20px;
}

.quebra-cabeca-link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.quebra-cabeca-link img {
  width: 100%;
  max-width: 1000px;
  height: auto;
  border-radius: 20px;
  transition: transform 0.2s ease;
}

.quebra-cabeca-link img:hover {
  transform: scale(1.05);
}

/* RESPONSIVO */
@media (max-width: 900px) {
  .quebraCabeca-home {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 600px) {
  .quebraCabeca-home {
    grid-template-columns: repeat(2, 1fr);
  }

  .quebra-cabeca-link img {
    max-width: 150px;
  }
}
